<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Needed to launch at phone startup -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--
        Needed for foreground, which is needed to keep the app from being optimized into oblivion
        Previously used FOREGROUND_SERVICE_DATA_SYNC, but that is disallowed for startup apps
        FOREGROUND_SERVICE_CONNECTED_DEVICE requires other perms for connecting another device,
        and is not talking about connecting this device to power
        FOREGROUND_SERVICE_SPECIAL_USE seems to work fine, though may cause issues if submitted to the Play Store
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChargeAlert">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ChargeAlert">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Start service at phone startup -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Originally this was a receiver, but Android was optimizing it into not working -->
        <!-- Have tried exporting and not exporting. Didn't seem to make any difference -->
        <service
            android:name=".Alerts"
            android:exported="false"
            android:foregroundServiceType="specialUse"
        >
            <!-- Intent filter for connecting/disconnecting is no longer needed because -->
            <!-- we register manually now instead of using BroadcastReceivers anymore -->
            <!--
            <intent-filter>
                --><!--
                Which are the correct intents?
                ACTION_POWER_CONNECTED
                ACTION_POWER_DISCONNECTED
                or
                POWER_CONNECTED
                POWER_DISCONNECTED
                --><!--
                <action android:name="android.intent.action.POWER_CONNECTED"/>
                <action android:name="android.intent.action.POWER_DISCONNECTED"/>
            </intent-filter>
            -->
        </service>
    </application>

</manifest>